* { 
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    position: relative;
    background-color: #A9A9A9;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #03628C;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .column {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
    
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-left: solid 10px #fff;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-right: solid 10px #fff;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
  }
  
  .date-left {
    padding: 10px;
    background-color: #FF4057;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .date-right {
    padding: 10px;
    background-color: #FF4057;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  button {
    background-color: #03628C;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0490CE;
    cursor: pointer;
  }
  
  .right > .content > p {
    margin-top: 10%;
  }
  
  .right > .content > h2 {
    z-index: 2;
    margin-top: 40%;
    position: relative;
  }
  
  img {
    object-fit: cover;
    max-height: 50%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0px;
  }
  
  @media screen and (max-width: 768px) {
      
    .timeline::after {
      left: 31px;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }
  }