@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

* {
    font-family: Arial, Helvetica, sans-serif   ;
}

body {
    background-color: #A9A9A9;
}


@keyframes slide-left {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 42%;
    }
}

@keyframes slide-right {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 42%;
    }
}

.box-1 {
    background-color: #eee;
    height: 350px;
    width: 250px;
    margin-top: 4%;
    font-size: 1.10rem;
    margin-left: auto;
    margin-right: auto;
    animation: slide-left 6s;
}

.date {
    background-color: #FF4057;
    float: right;

    text-align: center;
    width: 40%;
    height: 12%;
    color: #eee;
}

h2 {
    float: left;
    padding-left: 10%;
}

.btn1 {
    background-color: #03628C;
    color: #eee;
    border: none;
    border-radius: 3px;
    padding: 10px 24px;
    text-align: center;
    position: relative;
    right: 50%;
    bottom: -75%;
}

.btn2 {
    background-color: #03628C;
    color: #eee;
    border: none;
    border-radius: 3px;
    padding: 10px 24px;
    text-align: center;
    position: relative;
    right: -5%;
    bottom: .8rem;
}

button:hover {
    background-color: #0490CE;
    cursor: pointer;
}

.para1 {
    float: left;
    padding-left: 10%;
    break-after: region;
}

.para2 {
    text-align: center;
}
.box-2 {
    background-color: #eee;
    height: 450px;
    width: 250px;
    font-size: medium;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto; 
    animation: slide-right 6s;
}

h1 {
    margin-top: 50%;
    position: relative;
    color: #eee;
}

img {
    width: 100%;
    height: auto;
}

.date2 {
    background-color: #FF4057;
    float: right;
    font-size: medium;
    text-align: center;
    text-justify: center;
    width: 40%;
    height: 10%;
    color: #eee;
}

.box-3 {
    background-color: #eee;
    height: 300px;
    width: 250px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto; 
    animation: slide-left 6s;
    margin-top: 4%;
    font-size: 1.10rem;

}