* {
    font-family: Arial, Helvetica, sans-serif   ;
}

body {
    background-color: #A9A9A9;
}

.box-1 {
    background-color: #eee;
    height: 350px;
    width: 250px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto; 
}

.date {
    background-color: #FF4057;
    float: right;
    font-size: smaller;
    text-align: center;
    width: 40%;
    height: 12%;
    color: #eee;
}

h2 {
    float: left;
    padding-left: 10%;
}

button {
    background-color: #03628C;
    color: #eee;
    border: none;
    border-radius: 3px;
    padding: 10px 24px;
    text-align: center;
    padding-left: 10%;


}

button:hover {
    background-color: #0490CE;
}

.para1 {
    float: left;
    padding-left: 10%;
    break-after: region;
}

.box-2 {
    background-color: #eee;
    height: 450px;
    width: 250px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto; 
}

.date2 {
    background-color: #FF4057;
    float: right;
    font-size: smaller;
    text-align: center;
    text-justify: center;
    width: 40%;
    height: 10%;
    color: #eee;
}

.box-3 {
    background-color: #eee;
    height: 250px;
    width: 250px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto; 
}